<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parthdoshi.articleshub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/articles_hub_mini_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartPage" />
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_login_page"
            android:parentActivityName=".StartPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parthdoshi.articleshub.StartPage" />
        </activity>
        <activity
            android:name=".SignupPage"
            android:label="@string/title_activity_signin_page"
            android:parentActivityName=".StartPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parthdoshi.articleshub.StartPage" />
        </activity>

        <service android:name=".HomePageRefreshService" />

        <activity
            android:name=".SelectTagPage"
            android:label="Select Tags"
            android:parentActivityName=".SignupPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parthdoshi.articleshub.SignupPage" />
        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:parentActivityName=".SelectTagPage"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parthdoshi.articleshub.SelectTagPage" />
        </activity>
        <activity
            android:name=".ArticleDisplayPage"
            android:label="Read Article"
            android:parentActivityName=".HomePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parthdoshi.articleshub.HomePage" />
        </activity>
        <activity
            android:name=".HomeProfilePage"
            android:label="@string/title_activity_home_profile_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeAboutPage"
            android:label="@string/title_activity_home_about_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeTagsPage"
            android:label="@string/title_activity_home_tags_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditDetailPage"
            android:label="Edit Your Details"
            android:parentActivityName=".HomeProfilePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parthdoshi.articleshub.HomeProfilePage" />
        </activity>
        <activity
            android:name=".WriteArticlePage"
            android:label="Write a new article"
            android:parentActivityName=".HomePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parthdoshi.articleshub.HomePage" />
        </activity>
        <activity
            android:name=".EditArticlePage"
            android:label="Edit your article"
            android:parentActivityName=".ArticleDisplayPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parthdoshi.articleshub.ArticleDisplayPage" />
        </activity>
        <activity
            android:name=".HomeArticlesPage"
            android:label="@string/title_activity_home_articles_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelpPage"
            android:label="Help Page" />
        <activity
            android:name=".HomeCommentsPage"
            android:label="@string/title_activity_home_comments_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeLikeHistoryPage"
            android:label="@string/title_activity_home_like_history_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>